{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}
    <h1>{{ employe}}</h1>
    <p>
        ville : {{ employe.ville}} <br>
    </p>
    
{% endblock %}